<h2>Registracija</h2>
<div *ngIf="user">
    <form (ngSubmit)="submitForm()" ngNativeValidate>
        <table>
            <tr>
                <td><label for="username">Uporabniško ime </label></td>
                <td><input [(ngModel)]="user.username" id="username" name="username" required /></td>
            </tr>
            <tr>
                <td><label for="password">Geslo </label></td>
                <td>
                    <input [(ngModel)]="user.password" id="password" name="password" [type]="showPassword ? 'text' : 'password'" required />
                    <button type="button" (click)="togglePasswordVisibility()">Pokaži</button>
                </td>
            </tr>
            <tr>
                <td><label for="name">Ime in priimek </label></td>
                <td><input [(ngModel)]="user.name" id="name" name="name" required></td>
            </tr>
        </table>

        <p style="color: red;">{{ message }}</p>

        <br/><br/>
        <button type="button" (click)="back()">Nazaj</button>
        <button type="submit">Registracija</button>
    </form>
</div>
