<div class="navbar">
  <div class="navbar-right">
      <button *ngIf="get() === null" (click)="toLogin()">Login</button>
      <button *ngIf="get() !== null" (click)="dataSaveLogout()">Logout</button>
      <button *ngIf="get() === null" (click)="toRegister()">Register</button>
  </div>
</div>

<!-- Show hello message if userId is not null -->
<h4 *ngIf="get() !== null" style="margin-bottom: -10px;">Trenutno prijavljen uporabnik</h4>
<p *ngIf="get() !== null" style="margin-bottom: 0px;">Ime in priimek: {{ name }} <br> Uporabniško ime: {{ username }}</p>
<button *ngIf="get() !== null" (click)="changeMyData()" style="margin-left: 0px;">Spremeni moje podatke</button>
  
<h2>Objavljeni prevozi</h2>

<button *ngIf="get() !== null" (click)="addRide()">Dodaj prevoz</button>

<ul class="seznami">
    <li *ngFor="let ride of rides" (click)="toDetails(ride)">
        <span>{{ride.fromTown}} - {{ride.toTown}}</span>
        <span><br>{{ formatDate(ride.date) }}</span>
    </li>
</ul>